<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    Hello world ejs
    <div>
        <img class="test_img" src="/images/anh.jpeg" alt="">
    </div>
</body>

</html>