.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar_list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}


.navbar_item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;

}

.navbar_item i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;
}

.navbar_item i:hover {
    color: rgba(0, 0, 0, 0.4);
}

.nav_logo img {
    width: 50px;
    height: 40px;
}


/* body */

.author {
    display: flex;
}

.container {
    padding-top: 20px;
}

.container-item {
    border-radius: 10px;
}

.container-item-img {
    width: 100%;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name-avatar {
    font-size: 16px;
    text-decoration: none;
}

.item-footer-like {
    font-size: 16px;
    text-decoration: none;
}

.container-item-footer {
    display: flex;
}

.item-footer-like {
    display: ;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}