.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar_list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}


.navbar_item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;

}

.navbar_item i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;
}

.navbar_item i:hover {
    color: rgba(0, 0, 0, 0.4);
}

.nav_logo img {
    width: 50px;
    height: 40px;
}


/* body */

.container {
    padding-top: 20px;
}

.container-item {
    display: block;
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5xp 8px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.container-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.container-item-img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.categories-item-img {
    border-radius: 10px;
}

.container-item-name {
    color: var(--text-color);
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;

}

.container-item-footer {
    display: flex;
    justify-content: space-between;
    /* Căn đều hai bên */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    width: 100%;
    /* Đảm bảo phần tử cha rộng đủ để các phần tử con giãn cách */
    padding: 20px 0px;
}

.author {
    display: flex;
    align-items: center;
    /* Giúp căn giữa hình ảnh và tên */
    text-decoration: none;
    /* Bỏ gạch chân mặc định của thẻ <a> */
    margin-left: 20px;
}

.avatar-img {
    width: 40px;
    /* Điều chỉnh kích thước ảnh */
    height: 40px;
    border-radius: 50%;
    /* Làm tròn ảnh */
    margin-right: 10px;
    /* Khoảng cách giữa ảnh và tên */
}

.name-avatar {
    font-size: 16px;
    font-weight: bold;
}

.item-footer-like {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 20px;
    padding-right: 20px;
}

/* Màu sắc của icon */

/* .item-footer-like {} */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}


/* input */

.form-add-new {
    font-size: medium;
    width: 1000px;
    margin: auto;
    padding-top: 100px;
}

.input-group {
    height: auto;
    margin: 20px;
    width: 500px;
}

.input-item {
    width: 300px;
}



button {
    width: 100px;
    cursor: pointer;
    margin: 10px;
}