<div id="main-container" class="container">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-3">
                <a class="container-item" href="">
                    <img class="container-item-img" src="/images/ktnt.png" alt="">\
                    <div class="container-item-body">
                        <h2>Kiến thức nhập môn IT</h2>
                        <div class="container-item-footer">
                            <a class="author" href="">
                                <img class="avatar-img" src="/images/avatar.png" alt="">
                                <div class="name-avatar">Vũ Duy Ngự</div>
                            </a>
                            <div class="item-footer-like">
                                <a href=""><i class="ti-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>