<div id="header">

    <div class="grid">
        <nav class="navbar">
            <div class="nav_logo">
                <a href="">
                    <img src="/images/vn.png" alt="">
                </a>
            </div>
            <ul class="navbar_list">

                <li class="navbar_item">
                    <a class="active" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Trang chủ">
                        <i class="ti-home"></i>
                    </a>
                </li>
                <li class="navbar_item">
                    <a class="active" href="/popular" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Phổ Biến">
                        <i class="ti-heart"></i>
                    </a>
                </li>
                <li class="navbar_item">
                    <a class="active" href="/categories" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Danh Mục">
                        <i class="ti-layout-grid2"></i>
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lưu Trữ">
                        <i class="ti-time"></i>
                    </a>
                </li>
                <li class="navbar_item">
                    <a id="searchA" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tìm Kiếm">
                        <i class="ti-search"></i>
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Đăng Nhập">
                        <i class="ti-user"></i>
                    </a>

            </ul>

        </nav>

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
    </div>
</div>