<div id="header">
    <ul id="nav">
        <li><img class="header-img" src="/images/vn.png" alt="logo"></li>
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#">Phổ Biến</a></li>
        <li><a href="#">Danh Mục</a></li>
        <li><a href="#">Lưu Trữ</a></li>
        <li><a href="#">Tìm Kiếm</a></li>
        <li><a href="#">Đăng Nhập</a></li>
    </ul>
</div>