<div id="search-modal" class="modal">
    <a href="#" class="modal-overlay"></a>
    <div class="modal-content">
        <div class="modal-body">
            <form action="/search" method="GET">
                <div class="search-in">
                  <input type="text" name="keyword" placeholder="Nhập từ khóa...">
                  <button type="submit">
                    <i class="ti-search icon-search"></i>
                  </button>
                </div>
              </form>
        </div>
    </div>
</div>

<!-- <style>
    @keyframes fadeSlideIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .modal:target {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        opacity: 1;
        pointer-events: auto;
    }

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 0;
    }

    .modal-content {
        background: black;
        padding: 2rem;
        border-radius: 8px;
        min-width: 300px;
        max-width: 500px;
        position: relative;
        z-index: 1;
        margin-top: 50px;
        animation: fadeSlideIn 0.3s ease-out;
    }

    .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-in {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 40px;
    }

    .search-in input {
        width: 100%;
        height: 100%;
        font-size: large;
    }

    .search-in button {
        width: 10%;
        height: 100%;
        background-color: black;
        border: groove;
        cursor: pointer;
    }

    .icon-search {
        color: white;
        font-size: large;
    }
</style> -->